@import "other/all";

/*
************************
Footer
************************
*/

footer {
    background-color: #313d46;
    padding: 20px;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    div {
        a {
            text-decoration: none;
            color: $gold-color;  
            text-transform: uppercase;
            font-weight: 600;
        }
    }
}
