$small: 480px;
$mid-small: 768px;
$medium: 992px;
$big: 1200px;

// Less then 992px
@media all and (max-width: $medium) { 
    // Collapse navigation 
    #main-nav {
        flex-direction: column;
        min-height: 50px;
        background: rgba(118, 129, 133, 0.7);
        position: relative;
        box-shadow: 0px 0px 10px 1px rgba(141,153,158,1);
        
        #toggle {
            display: block;
            align-self: flex-end;
        }
        
        ul.nav-left, ul.nav-right {
            margin: 0;
        }
        
        ul {
            margin: 5px 0;
            display: none;
            
            li {
                float: left;
                width: 100%;
                text-align: center;
                margin: 8px 0;
                
                a {
                    display: block;
                }
                
                a::before {
                    content: none;
                }
            }
        }
    }
    
    #about-me {
        #about-me__description {
            #about-me__text {
                width: 100%;
                order: 2;
                .btn__cv {
                    margin-top: 10px;
                }
            }
            #about-me__photo {
                width: 100%;
                order: 1;
                margin-bottom: 50px;
            }
        }
    }
    
    #portfolio {
        .portfolio__items {           
            .portfolio__item, #in-progress {
                width: 100%;
                margin: 20px auto;
                text-align: center;
            }
        }
    }
    
    #contact {
        .contact__info {
            font-weight: 500;
        }
        .contact__icons {
            a {
                color: #cbcbcb;
            }
        }
    }
}

// Less than 768px 
@media all and (max-width: $mid-small) { 
    #portfolio {
        .portfolio__items {
            .portfolio__item:after,
            .portfolio__item:before {
                width: 100%;
            }
            
            .portfolio__item-info {
                opacity: 1;
                padding: 10px;
            }
        }
    }
}

// Between 992px and 1200px
@media all and (min-width: $medium) and (max-width: $big) {
    
    #portfolio {
        .portfolio__items {
            width: 90%;

            .portfolio__item, #in-progress {
                width: 43%;
                padding: 10px;
                font-size: 14px;
            }
        }
    }
}

// Between 480px and 992px
@media all and (min-width: $small) and (max-width: $medium) {
    
    #skills {
        .skills__items {
            width: 80%;
            
            .skills__item {
                width: 30%;
            }
        }
    }
    
    #portfolio {
        .portfolio__items {
            width: 70%;
            
            .portfolio__item, #in-progress {
                font-size: 14px;
            }
        }
    }
}

 // Less then 480px
@media all and (max-width: $small) {
    header {
        #header__title {
            h1 {
                font-size: 30px;
            }
            h3 {
                font-size: 16px;
            }
        }
    }
    
    #skills {
        .skills__items {
            .skills__item {
                width: 100%;
            }
        }
    }
    
    #portfolio {
        .portfolio__items {
            width: 90%;
            
            .portfolio__item, #in-progress {
                padding: 10px;
                font-size: 12px;
            }
        }
    }
    
    #btn__back-top {
        right: 7px;
    }
}















