@media all and (max-width: 480px) {
    #main-block {
        width: 100%;
        height: 100%;
    }
    
    #main-title {
        font-size: 35px;
    }
    
    #timeSet-section {
        flex-direction: column;
        margin: 20px;
    }
    
    #main-btns {
        display: flex;
        flex-direction: column;
    }
    
    .basic-btn {
        margin: 10px;
    }
}

@media all and (min-width: 480px) and (max-width: 720px) {
    #main-block {
        width: 100%;
        height: 100%;
    }
}

@media all and (min-width: 720px) and (max-width: 1024px) {
    #main-block {
        width: 80%;
        height: 100%;
    }
}