@media all and (max-width: 1024px) {
    #main-nav,
    #main-nav.scrolled {
        background-color: #1F0304;
    }
    
    #main-nav .navbar-header .navbar-brand,
    #main-nav .navbar-collapse .navbar-nav li a{
        color: #fff;
    }

    #main-nav .icon-bar {
        background-color: #fff;
    }
    
    #main-nav .navbar-collapse .navbar-nav li {
        text-align: right;
    }

    #services .row > div {
        margin-bottom: 40px;
    }
    
    #portfolio .single-portfolio-item .portfolio-image .hovered {
        opacity: 1;
    }
    
    #portfolio #portfolio-image-2, 
    #portfolio #portfolio-image-4 {
        background-position: center;
    }
    
    #team .row > div {
        margin-bottom: 40px;
    }
    
    footer {
        text-align: center;
    }
}
